doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script.
    document.getElementsByTagName("html")[0].className += " js";
  link#codyframe(rel='stylesheet' href='assets/css/style.css')
  // Uncomment the script below if you need to support browsers where CSS Variables have not been implemented (e.g., IE11)
  //
    <script>
    if(!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {var cfStyle = document.getElementById('codyframe');if(cfStyle) {var href = cfStyle.getAttribute('href');href = href.replace('style.css', 'style-fallback.css');cfStyle.setAttribute('href', href);}}
    </script>
  title Get Started | CodyFrame
.container.max-width-lg
  .margin-top-md.margin-bottom-md
    a.card-v2.radius-md(class='col-4@md' href='#0')
      figure
        img(src='https://codyhouse.co/app/assets/img/masonry-img-5.jpg' alt='Image description')
        figcaption.card-v2__caption.padding-x-sm.padding-top-md.padding-bottom-sm.text-center
    .author.margin-left-sm(class='col-4@md')
      //- Edit shadow to xs
      a.author__img-wrapper.shadow-md.centered-img(href='#0')
        img(src='https://codyhouse.co/app/assets/img/author-img-1.jpg' alt='Author picture')
      .author__content.text-component.v-space-xxs
        p.color-contrast-medium Lorem ipsum dolor sit amet consectetur
script(src='assets/js/scripts.js')
