doctype html
html(lang="en")
  head
    //- Simple example of including components by pugjs
    //- Here to include head tags
    include pug-components/head.pug
  body
    //- Here to include body content
    include pug-components/content.pug
    //- Here to include js scripts
    include pug-components/scripts.pug