@media screen and (max-width: 652px) {
  .masonry__item {
    max-width: 47%;
  }
}
@media screen and (max-width: 552px) {
  .masonry__item {
    max-width: 46.8%;
  }
}
@media screen and (max-width: 452px) {
  .masonry__item {
    max-width: 45%;
  }
}

.centered-img {
  position: relative;
  top: -30%;
}

.sidenav__counter {
  margin-left: 0.5rem !important;
}